# Puerto para el servidor Express de API REST
EXPRESS_PORT=3000

# Direcciones y puertos (host:port) de los servicios gRPC backend
CLIENTES_GRPC_IP_PORT=localhost:50050
PEDIDOS_GRPC_IP_PORT=localhost:50051
PRODUCTOS_GRPC_IP_PORT=localhost:50052
