# Puerto para el servidor gRPC de Clientes (Server A)
SERVER_GRPC_PORT=50050

# Variables de entorno para la base de datos MariaDB/MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=user-a
DB_PASSWORD=12345
DB_NAME=db-a

# Dirección gRPC del servicio de Pedidos (Server B)
PEDIDOS_GRPC_IP_PORT=localhost:50051
